<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>DELICIOUS BURGERS! YUM!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

	</head>
	<body>
		<img src ="/assets/img/RoyalRedRobin.jpg" width = "400px" id = "RRB" >
		{{{ body }}}
	</body>
</html>
