li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body {
  background-color: lightgoldenrodyellow;
  width: 75%;
  margin: 0 auto;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.burgerAvailable {
  font-family: 'Crafty Girls', cursive;
  font-weight: normal;
  font-size: 20px;
  text-align: center;

  border-radius: 25px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  background-color: lightsalmon;
  border: none;
}

.eaten {
  font-family: 'Crafty Girls', cursive;
  font-weight: normal;
  font-size: 20px;
  text-align: center;

  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  background-color: pink;
}
